<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- 引入YDUI样式 -->
   <link rel="stylesheet" href="../css/ydui.css" />
   <link rel="stylesheet" href="../css/clear.css">
   <link rel="stylesheet" href="../css/about.css">
   <!-- 引入YDUI自适应解决方案类库 -->
   <script src="../js/ydui.flexible.js"></script>
  <title>我的</title>
</head>
<body>

  <div class="g-view">
    <div class="top-title">
      <h2>我的美食之旅</h2>
      <i class="icon-ucenter-outline" style="font-size: 56px;"></i>
    </div>
    <div class="m-cell">
      <a class="cell-item" href="javascript:;">
          <div class="cell-left">
            我的收藏
          </div>
          <div class="cell-right">
            <i class="cell-icon icon-like-outline"></i>
          </div>
      </a>
      <a class="cell-item" href="javascript:;">
        <div class="cell-left">
          意见反馈
        </div>
        <div class="cell-right">
          <i class="cell-icon icon-feedback"></i>
        </div>
      </a>
      <a class="cell-item" href="javascript:;">
        <div class="cell-left">
          分享
        </div>
        <div class="cell-right">
          <i class="cell-icon icon-share3"></i>
        </div>
      </a>
      <a class="cell-item" href="javascript:;">
        <div class="cell-left">
          设置
        </div>
        <div class="cell-right">
            <i class="cell-icon icon-setting"></i>
        </div>
      </a>
  </div>
  </div>

  <footer class="m-tabbar tabbar-fixed">
    <a href="./index.html" class="tabbar-item">
        <span class="tabbar-icon">
            <i class="icon-home"></i>
        </span>
        <span class="tabbar-txt">首页</span>
    </a>
    <a href="./class.html" class="tabbar-item">
        <span class="tabbar-icon">
          <i class="icon-type"></i>
        </span>
        <span class="tabbar-txt">分类</span>
    </a>
    <a href="./about.html" class="tabbar-item tabbar-active">
        <span class="tabbar-icon">
            <i class="icon-ucenter-outline"></i>
        </span>
        <span class="tabbar-txt">我的</span>
    </a>
  </footer>

</body>  