<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- 引入YDUI样式 -->
   <link rel="stylesheet" href="../css/ydui.css" />
   <link rel="stylesheet" href="../css/clear.css">
   <link rel="stylesheet" href="../css/class.css">
   <!-- 引入YDUI自适应解决方案类库 -->
   <script src="../js/ydui.flexible.js"></script>
  <title>分类</title>
</head>
<body>

    <div class="g-view">
        <div class="class-title">
          <h2>分类</h2>
          <p>要吃什么，这里都有！</p>
        </div>
        <div class="m-cell">
          <div class="cell-item">
              <div class="cell-left">
                <i class="cell-icon icon-search"></i>
              </div>
              <div class="cell-right">
                <input type="text" class="cell-input" placeholder="点这里，做不一样的菜">
              </div>
          </div>
        </div>

        <div class="class-caipu">
          <div class="caipu-title">
            <h3>菜谱分类</h3>
            <span>
              <a href="./moreclass.html">更多分类</a>
            </span>
          </div>
          <ul>
            <li>
              <img src="../img/class_shop_1.jpg" alt="">
              <div></div>
              <p>水产</p>
            </li>
            <li>
              <img src="../img/class_shop_1.jpg" alt="">
              <div></div>
              <p>肉类</p>
            </li>
            <li>
              <img src="../img/class_shop_1.jpg" alt="">
              <div></div>
              <p>口味</p>
            </li>
            <li>
              <img src="../img/class_shop_1.jpg" alt="">
              <div></div>
              <p>主食</p>
            </li>
            <li>
              <img src="../img/class_shop_1.jpg" alt="">
              <div></div>
              <p>烘焙</p>
            </li>
            <li>
              <img src="../img/class_shop_1.jpg" alt="">
              <div></div>
              <p>特色</p>
            </li>
          </ul>
        </div>
    </div>


    <footer class="m-tabbar tabbar-fixed">
        <a href="./index.html" class="tabbar-item">
            <span class="tabbar-icon">
                <i class="icon-home"></i>
            </span>
            <span class="tabbar-txt">首页</span>
        </a>
        <a href="./class.html" class="tabbar-item tabbar-active">
            <span class="tabbar-icon">
              <i class="icon-type"></i>
            </span>
            <span class="tabbar-txt">分类</span>
        </a>
        <a href="./about.html" class="tabbar-item">
            <span class="tabbar-icon">
                <i class="icon-ucenter-outline"></i>
            </span>
            <span class="tabbar-txt">我的</span>
        </a>
    </footer>





    <!-- 引入jQuery 2.0+ -->
    <script src="../js/jquery.js"></script>
    <!-- 引入YDUI脚本 -->
    <script src="../js/ydui.js"></script>

</body>