<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- 引入YDUI样式 -->
   <link rel="stylesheet" href="../css/ydui.css" />
   <link rel="stylesheet" href="../css/clear.css">
   <link rel="stylesheet" href="../css/index.css">
   <!-- 引入YDUI自适应解决方案类库 -->
   <script src="../js/ydui.flexible.js"></script>
  <title>首页</title>
</head>
<body>


    <header class="m-navbar navbar-fixed">
        <a href="./about.html" class="navbar-item">
          <i class="cell-icon icon-ucenter-outline"></i>
        </a>
        <div class="navbar-center">
            <span class="navbar-title">
              舌尖秘籍
            </span>
        </div>
        <a href="#" class="navbar-item">
            <i class="cell-icon icon-search"></i>
        </a>
    </header>

    <div class="g-view">
        <div class="m-slider" id="J_Slider">
            <div class="slider-wrapper">
                <div class="slider-item">
                    <a href="#">
                        <img src="../img/banner_1.jpg">
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../img/banner_2.jpg">
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../img/banner_3.png">
                    </a>
                </div>
            </div>
            <div class="slider-pagination"></div><!-- 分页标识 -->
        </div>

        <div class="m-grids-4">
            <a href="#" class="grids-item">
                <div class="grids-icon">
                  <img src="../img/class_1.png">
                </div>
                <div class="grids-txt">
                  <span>主食</span>
                </div>
            </a>
            <a href="#" class="grids-item">
                <div class="grids-icon">
                    <img src="../img/class_2.png">
                  </div>
                <div class="grids-txt">
                  <span>汤羹饮品</span>
                </div>
            </a>
            <a href="#" class="grids-item">
                <div class="grids-icon">
                    <img src="../img/class_3.png">
                  </div>
                <div class="grids-txt">
                  <span>场景</span>
                </div>
            </a>
            <a href="#" class="grids-item">
                <div class="grids-icon">
                    <img src="../img/class_4.png">
                  </div>
                <div class="grids-txt">
                  <span>日常</span>
                </div>
            </a>
        </div>

       <div class="list-cp">
         <div class="list-title">
           <img src="../img/home_title_love.png" alt="">
           <div class="list-info">
             <span>猜你喜欢</span>
             <p>21:16为您更新</p>
           </div>
         </div>
        <article class="m-list list-theme3">
            <a href="./list.html" class="list-item">
                <div class="list-img">
                    <img src="http://img1.shikee.com/try/2016/06/19/09430120929215230041.jpg_220x220.jpg">
                </div>
                <div class="list-mes">
                    <h3 class="list-title">标题标题标题标题标题</h3>
                    <div class="list-mes-item">
                        <div>
                            <span class="list-price"><em>¥</em>34.7</span>
                            <span class="list-del-price">¥45.65</span>
                        </div>
                        <div>right</div>
                    </div>
                </div>
            </a>
            <a href="./list.html" class="list-item">
                <div class="list-img">
                    <img src="http://img1.shikee.com/try/2016/06/21/10172020923917672923.jpg_220x220.jpg">
                </div>
                <div class="list-mes">
                    <h3 class="list-title">骆驼男装2016夏装男士短袖T恤 圆领衣服 印花男装体恤 半袖打底衫</h3>
                    <div class="list-mes-item">
                        <div>
                            <span class="list-price"><em>¥</em>34.7</span>
                            <span class="list-del-price">¥45.65</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="./list.html" class="list-item">
                <div class="list-img">
                    <img src="http://img1.shikee.com/try/2016/06/23/15395220917905380014.jpg_220x220.jpg">
                </div>
                <div class="list-mes">
                    <h3 class="list-title">条纹短袖T恤男士韩版衣服大码潮流男装夏季圆领体恤2016新款半袖</h3>
                    <div class="list-mes-item">
                        <div>
                            <span class="list-price"><em>¥</em>34.7</span>
                            <span class="list-del-price">¥45.65</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="./list.html" class="list-item">
                <div class="list-img">
                    <img src="http://img1.shikee.com/try/2016/06/25/14244120933639105658.jpg_220x220.jpg">
                </div>
                <div class="list-mes">
                    <h3 class="list-title">夏季青少年衣服男生潮牌t恤 男士 夏秋学生 日系棉短袖半袖男小衫</h3>
                    <div class="list-mes-item">
                        <div>
                            <span class="list-price"><em>¥</em>34.7</span>
                            <span class="list-del-price">¥45.65</span>
                        </div>
                        <div>right</div>
                    </div>
                </div>
            </a>
        </article>
       </div>

    </div>

    <footer class="m-tabbar tabbar-fixed">
        <a href="./index.html" class="tabbar-item tabbar-active">
            <span class="tabbar-icon">
                <i class="icon-home"></i>
            </span>
            <span class="tabbar-txt">首页</span>
        </a>
        <a href="./class.html" class="tabbar-item">
            <span class="tabbar-icon">
              <i class="icon-type"></i>
            </span>
            <span class="tabbar-txt">分类</span>
        </a>
        <a href="./about.html" class="tabbar-item">
            <span class="tabbar-icon">
                <i class="icon-ucenter-outline"></i>
            </span>
            <span class="tabbar-txt">我的</span>
        </a>
    </footer>


  <!-- 引入jQuery 2.0+ -->
  <script src="../js/jquery.js"></script>
  <!-- 引入YDUI脚本 -->
  <script src="../js/ydui.js"></script>
  <script>
      $('#J_Slider').slider({
          speed: 200,
          autoplay: 100000,
          lazyLoad: true,
          effect: 'cube'
      });
  </script>
</body>
</html>